.copyright
    - var hexoURL = "https://beian.miit.gov.cn/#/Integrated/index";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=hexoURL, target="_blank") 蜀ICP备2024107077号]